<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="flex flex-col items-center mx-auto w-1/2 h-screen justify-center">
            <a href="/register" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-auto my-0.5" formaction="/register" formmethod="GET">Register</a>
        <div>
            OR
        </div>
            <a href="/login" class="w-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-0.5" formaction="/logins" formmethod="GET">Login</a>
    </div>
</body>
</html>